html {
   box-sizing: border-box;
   font-family: Verdana,  Geneva, sans-serif;;
   padding: 0px; margin: 0px; border: 0px solid #000000;  
}
*, *::before, *::after {
  box-sizing: inherit;
}

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	#sectionOutput {
		font-size: 2vh;  
	}	
	#selTuning{
		font-size: 2vh;	
		width: 100vw;	
		padding-left: 1vw;
	}	
	#sectionOutput{
		font-size: 2vh;
	}	
	.SVGGuitar{
		font-size: 2vh;
	}	
	body {
		background-color: lightblue;
	}	
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	#sectionOutput {
		font-size: 1vw;  
	}	
	#selTuning{
		font-size: 1vh;
		width: 12vw;			
	}	
	#sectionOutput{
		font-size: 1vh;
	}	
	
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	#sectionOutput {
		font-size: 12vw;  
	}
	#selTuning{
		font-size: 12vw;
		width: 12vw;			
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	#sectionOutput {
		font-size: 1vw;  
	}	
	#selTuning{
		font-size: 1.5vw;
		width: 12vw;	
	}	
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	#sectionOutput {
		font-size: 1vw;  
	}
	#selTuning{
		font-size: 1vw;
		width: 12vw;		
	}	

} 

#selTuning{

}

#sectionTuning{
	border-style: none;
	border-style: solid; border-color: red; border-width: thin;
	display: flex;	
	justify-content: center;	
	margin: auto;
	overflow-y:auto;
    padding-top: 0.2vh;
    padding-bottom: 0.2vh;
}

#sectionGuitarTab{
	border-style: solid; border-color: red; border-width: thin;
	display: flex; 
	justify-content: center;	
	
	margin: auto;
	margin-top: 1vh; 
	overflow-y:auto;
	
	background-color: white;	

	height: 50vh;

	min-width: 3vw; 
    
	padding-top: 0.2vh;
    padding-bottom: 0.2vh;	
}

#sectionOutput {
	border-style: none;
	border-style: solid; border-color: red; border-width: thin;
	display: flex; 
	justify-content: center;	

	margin: auto;
	margin-top: 1vh; 

	height: 12vh;
	overflow-y:auto;

	background-color: white;	
}

#sectionControls{
	border-style: none;
	border-style: solid; border-color: red; border-width: thin;
	display: flex; 
	justify-content: center;	
	align-items: center;	
	margin: auto;
	margin-top: 1vh; 
	padding-top: 1vh; 
	padding-bottom: 1vh; 
	
}

.gridline{
	stroke:grey; 
	stroke-width: 0; 	
}
.stringAndFret{
	stroke:black;
	stroke-width: 1;	
}

.dotPressed{
	fill: black; 
	stroke:black;
	stroke-width: 0.75;
	opacity: 1;	
			
}

.dotUnpressed{
	fill: white; 
	stroke:white;	
	opacity: 0.1;	
}

.barre{
	stroke:black;
	stroke-linecap:round;	
}

img{
	opacity: 1;
	width: 3vh;
	height:3vh;
	margin-left: 1vw; 
	margin-right: 1vw; 
}
