html {
   font-family: Verdana,  Geneva, sans-serif;;
   padding: 0px; margin: 0px; border: 0px solid #000000;
}

svg{
	border-style: none;
	display: inline;
	float: left; 
	background-color: white;	
	min-width: 12%
}


#selTuning{
	display: block; 
	overflow-y:auto;
	margin: auto;
	width: 12%;
	min-width: 12%; 
}

#sectionGuitarTab{
	border-style: none;
	display: block; 
	margin: auto;
	overflow-y:auto;
	
	background-color: white;	

	height: 30vh;
	width: 12%;
	min-width: 12%; 

}

#sectionOutput {
	border-style: none;
	display: block; 
	margin: auto;
	overflow-y:auto;

	height: 20vh;
	width: 12%;		
	
	background-color: white;	

	font-size:0.85vw;  

}

.gridline{
	stroke:grey; 
	stroke-width: 0; 	
}
.stringAndFret{
	stroke:black;
	stroke-width: 1;	
}

.dotPressed{
	fill: black; 
	stroke:black;
	stroke-width: 0.75;
	opacity: 1;	
}

.dotUnpressed{
	fill: white; 
	stroke:white;	
	opacity: 0.1;	
}

.barre{
	stroke:black;
	stroke-linecap:round;	
}
	


